<div id="page-wrapper">
    <header>
        <div id="header-main">
            <div class="container-fluid header-wrapper">
                <nav class="header-main-navbar col-sm-12 col-xs-12 col-md-6 col-lg-6 text-right">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">shareTsk</a>
                    </div>
                    <ul class="main-navbar-list text-center">
                        <!--<li class="main-navbar-item" ng-class="{selected: Utility.isCurrentState('base.home')}" ng-click="Utility.gotoHome()">Home</li>-->

                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <section>
        <div id="body-main">
            <div ui-view></div>
        </div>
    </section>
    <footer>
        <div id="footer-main">
            <div class="footer-wrapper">
                <p class="footer-info text-center">
                    Site constructed by <a href="mailto:gabriel.shyam93@gmail.com">S.Shyam</a>
                </p>
            </div>
        </div>
    </footer>
</div>